@using PerfectlyMadeInc.WebEx.Contract.Webinars;
@model NewWebinarList


@*List of programs*@
@if (Model.Items.Count == 0)
{
    <p>
        <em>@CommonResources.NoRecords</em>
    </p>
}
else
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => Model.Items[0].Id)</th>
                <th>@Html.DisplayNameFor(x => Model.Items[0].Title)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td><a target="_blank" href="@item.Id">@Html.DisplayFor(x => item.Id)</a></td>
                    <td>@Html.DisplayFor(x => item.Title)</td>
                    <td>                        
                        @Html.LoaderSmall(TextHelper.DecorateName("loader-small", index: item.Id), "spinner-small")
                    </td>
                    <td>
                        @using (var bg = Html.ButtonGroup(ButtonGroupType.ItemRightGroup))
                        {
                            @bg.Command(CommonResources.Add, "add", ButtonStyle.Primary, false, null, item.Id)
                            @bg.Link(CommonResources.Detail, ButtonStyle.Primary, null, true, new {id = $"detail-{item.Id}"})
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}