@model BatchUploadListItem

<div class="row">

    <div class="col-xl-6 align-content-start">

        <dl class="row dl-compact">
            <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Name)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(x => x.Name)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(x => x.BatchUploadType)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(x => x.BatchUploadType)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(x => x.BatchUploadState)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(x => x.BatchUploadState)</dd>


        </dl>

    </div>

    <div class="col-xl-6 align-content-start">

        <dl class="row dl-compact">
            <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Uploaded)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(x => x.Uploaded)</dd>
            <dt class="col-sm-4">@Html.DisplayNameFor(x => x.Processed)</dt>
            <dd class="col-sm-8">@Html.DisplayFor(x => x.Processed)</dd>
            @if (Model.FileId.HasValue)
            {
                <dt class="col-sm-4">@Html.DisplayNameFor(x => x.FileId)</dt>
                <dd class="col-sm-8"><em>@Html.ActionLink("download", "Download", "File", new { id = Model.FileId }, null)</em></dd>
            }
        </dl>

    </div>

</div>

